.header {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    /* max-height: 80px; */
}
.logo-and-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    width: 100vw;
    height: 80px;
}
.nav-health {
    width: 100vw;
    background: #389cd6 0% 0% no-repeat padding-box;
    top: 80px;
    display: inline-block;
    /* padding: 0 1rem; */
    text-align: center;
    text-decoration: none;
    height: 49px;
    color: white;
}
ul li {
    display: inline-block;
    padding: 0px 40px;
    align-items: center;
}
.li-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 48px;

    align-items: center;
}
.nav-sub {
    display: none;
    background: #9d8e8e 0% 0% no-repeat padding-box;
    text-align: start;
    display: none;
    width: 100vw;
    padding-left: 1rem;
    position: absolute;
    transition: 0.3s;
    transition-timing-function: ease-out;
    left: -0px;
    right: 0px;
    height: 49px;
}

.nav-health ul li:hover > ul {
    display: flex;
    align-items: center;
}
.menu-mobile {
    display: none;
    color: black;
}
.navbar-mobile {
    display: flex;
    height: 100vh;
    background: #389cd6;
    color: white;
    padding: 40px 0;
}

.navbar-mobile ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 47px;
}

@media (max-width: 810px) {
    .header {
        max-height: 70px;
    }
    .li-content {
        flex-direction: column;
    }
    .menu-mobile {
        display: block;
    }
    .nav-health {
        display: none;
    }
    .logo-and-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        height: 70px;
        align-items: center;
        gap: 0;
    }
    /* .menu-mobile {
        display: block;
    }
    .navbar-mobile {
        display: flex;
    } */
}
