.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    /* max-height: 80px; */
}

.logo-and-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    width: 100vw;
    height: 80px;
}
.nav-health {
    width: 100vw;
    background: #389cd6 0% 0% no-repeat padding-box;
    top: 80px;
    display: inline;
    /* padding: 0 1rem; */
    text-align: center;
    text-decoration: none;
    /* padding-left: 581px; */
    height: 49px;
    color: white;
    /* gap: 20px; */
}
ul li {
    display: inline-block;
    padding: 0px 47px;
    align-items: center;
}
.li-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 48px;

    align-items: center;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.nav-sub {
    display: none;
    background-color: #9d8e8e;
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    height: 49px;
    opacity: 1;
    gap: 4px;
    animation: appear 0.3s ease-out;
}
.nav-sub li {
    padding: 0 24px;
}

.nav-health ul li:hover > .nav-sub {
    display: flex;

    align-items: center;
    /* justify-content: center; */
}
.menu-mobile {
    display: none;
    color: black;
}
.navbar-mobile {
    display: block;
    height: 100vh;
    background: #389cd6;
    text-align: left;
    font: normal normal bold 16px/22px Trebuchet MS;
    letter-spacing: 0.32px;
    color: #ffffff;
    z-index: 4;
    padding-left: 16px;
    padding-top: 40px;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.show-mobile {
    opacity: 0.6;
}

.navbar-mobile ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 47px;
}

@media (max-width: 810px) {
    .li-content {
        flex-direction: column;
    }
    .menu-mobile {
        display: block;
    }
    .nav-health {
        display: none;
    }
    .logo-and-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        height: 70px;
        align-items: center;
        gap: 0;
    }

    .navbar-mobile {
        display: block;
    }
}

@media (min-width: 1200px) {
    .nav-sub {
        padding-left: 390px;
    }
}
