:root {
    --product-wellness: #389cd6;
    --product-active: #309d5f;
    --product-agecare: #ee6381;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font: normal normal bold 16px/22px Trebuchet MS;
}

.banner-hero {
    background-image: url("/banner-hero.png");
    margin-top: 2.7rem;
    width: 100vw;
    min-height: 300px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icons {
    background-image: url("/icons.png");
    width: 100%;
    height: 259px;
    background-repeat: no-repeat;
    background-size: contain;
}
.copy-help {
    text-align: justify;
}
h3 {
    padding: 0;
    text-align: center;
    font: normal normal bold 39px/50px Trebuchet MS;
    letter-spacing: 0.78px;
    color: #389cd6;
}
p {
    text-align: center;
    font: normal normal normal 20px Trebuchet MS;
    letter-spacing: 0.4px;
    color: #7b7070;
}

.banner-products {
    background-image: url("/banner-products.png");
    width: 100vw;
    height: 437px;
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background: #389cd6;
    padding: 16px 64px;
    color: white;
    text-align: center;
    width: 100vw;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}

footer ul li {
    display: inline-block;
    padding: 0px;
    font-size: 16px;
    height: 100%;
}
footer ul li div {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
}
footer .social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10%;
}
.li-footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.horizontal-divider {
    display: none;
}
.vertical-divider {
    display: block;
}
.list-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    width: 100vw;
    align-items: center;
    overflow: hidden;
}
.list-cards {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100vw;
    overflow: auto;
    padding: 16px;
}

@media (max-width: 810px) {
    .banner-hero {
        background-image: url("/banner-intibiome-02.png");
        margin-top: 2.7rem;
        max-width: 429px;
        height: 475px;

        background-repeat: no-repeat;
        background-size: contain;
    }
    .horizontal-divider {
        display: block;
    }
    .vertical-divider {
        display: none;
    }
    footer {
        height: 1000px;
        padding: 16px;
        justify-content: flex-start;
        gap: 16px;
    }
    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .social {
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 100%;
    }
    .li-footer-content {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    footer {
        height: 100%;
    }
    /* .list-cards {
        justify-content: center;
        left: 0;
    } */
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .list-cards {
        justify-content: center;
    }
}
