.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 810px) {
    .main {
        padding: 1rem;
    }
}
