.card-discovery span {
    max-width: 292px;
    color: #7b7070 !important;
    text-align: justify;
}
button {
    width: 312px;
    height: 64px;
    padding: 0 76px 0 40px;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-transform: lowercase;
    background: #389cd6 0% 0% no-repeat padding-box;
    border-radius: 16px;
    border-width: 0;
}
