.card-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 16px;
}

.card-product div {
    display: flex;
    width: 100%;
    height: 73px;

    justify-content: center;
    align-items: center;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.card-product img {
    max-width: 356px;
    max-height: 351px;
}
.card-product p {
    padding: 0 32px;
    max-width: 313px;
}
